pipeline/LoadHourlyAndDailyData.json
{
	"name": "LoadHourlyAndDailyData",
	"properties": {
		"activities": [
			{
				"name": "Set value for filetype",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"variableName": "FileType",
					"value": {
						"value": "@replace(pipeline().parameters.FileName,'Sales','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set value for filetype",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('FileType')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "DailySales"
			}
		},
		"variables": {
			"FileType": {
				"type": "String"
			},
			"ListOfFiles": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-17T00:17:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}